/* CONTAINER
----------------------------------------------------------------------------------------------------*/

.container {
  width: 950px;
}

/* ROWS
----------------------------------------------------------------------------------------------------*/

.row-tight,
.row {
  width: 100%;
  *zoom: 1;
}

.row-tight:before,
.row-tight:after,
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-tight:after,
.row:after {
  clear: both;
}

.row-tight [class*="span"],
.row [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-tight [class*="span"]:first-child,
.row [class*="span"]:first-child {
  margin-left: 0;
}

.row .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}


[class*="span"].hide,
.row [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row [class*="span"].pull-right {
  float: right;
}


/* ROW TIGHT
----------------------------------------------------------------------------------------------------*/

.row-tight [class*="span"] {
  margin: 0
}
.row-tight .span1 {
  width: 8.3333333%;
}
.row-tight .span2 {
  width: 16.6666667%
}
.row-tight .span3 {
  width: 25%;
}
.row-tight .span4 {
  width: 33.33333%;
}
.row-tight .span5 {
  width: 41.6666667%
}
.row-tight .span6 { 
  width: 50% 
}
.row-tight .span7 { 
  width: 58.3333333% 
}
.row-tight .span8 {
  width: 66.6666667%
}
.row-tight .span9 { 
  width: 75%
}
.row-tight .span10 {
  width: 83.3333333%
}
.row-tight .span11 {
  width: 91.6666667%
}
.row-tight .span12 {
  width: 100%
}


/* CONTAINER
----------------------------------------------------------------------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}